<link rel="stylesheet" type="text/css" href="/vendor/datetimepicker/jquery.datetimepicker.css">
    <div class="ui container middle aligned grid">
            <div class="row">
                <div class="ui center aligned text container">
                    Events admin
                </div>
            </div>

                <div class="column">
                    <p>Show</p>
                </div>
                <div class="two wide column">
                    <a class="ui label">All</a>
                    <a class="ui label">Past</a>
                </div>
                <div class="thirteen wide column right aligned">
                                    <div class="ui icon input">
                      <input type="text" placeholder="Search..." ng-model="query">
                      <i class="search icon"></i>
                    </div>
                </div>
            <div class="sixteen wide column">
                <table class="ui five column celled table">
                    <thead sortable config="sortConfig" on-click=changeOrder(order)></thead>
                    <tbody>
                        <tr ng-repeat="event in events | orderBy:order | search:query track by event._id" ng-cloak>
                            <td>{{event.name}}</td>
                            <td>{{event.description}}</td>
                            <td>{{event.date | date : 'medium'}}</td>
                            <td>{{event.imageUrl}}</td>
                            <td><i class="edit large icon" ng-click="showForm($index)"></i>
                                <i class="remove large icon" ng-click="deleteEvent(event, $index)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sixteen wide column right aligned"><i class="large add icon" ng-click="showForm()"></i></div>
        </div>
    <div event-form source="events" on-submit=update(event)></div>